<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Connectez-vous</h2>
    <hr>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <div>
        <button class="btn btn-primary" id="btn-submit-save-user"
                type="submit">Connectez-vous</button>
      </div>
      <div>
        <ul>
          <li>Vous avez oublié votre mot de passe? <a  routerLink="/forgot-password">Réinitialiser votre mot de passe.</a></li>
          <li>Vous n'avez pas de compte? <a routerLink="/signup">Créer un compte.</a></li>
        </ul>
      </div>

    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
