<div class="row">

  <div class="container">

    <section>
      <h1>Profile de {{ this.user.last_name }} {{ this.user.first_name }}</h1>
    </section>

    <app-profile-user-header></app-profile-user-header>

    <div class="row">
      <ul>
        <li>Nom: {{ this.user.first_name }}</li>
        <li>Prenom: {{ this.user.last_name }}</li>
        <li>Email : {{ this.user.email }}</li>
        <li>Gender : {{ this.user.gender }}</li>
        <li>Groupe : {{ this.user.groups[0]?.name }}</li>
        <li>Join le : {{ this.user.date_joined | date:'medium' }}</li>
      </ul>
    </div>

    <div class="row"><a class="nav-link" routerLink="/profile/update" tabindex="-1">Modifier votre profile</a></div>

  </div>

</div>
