<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Retrouver son mot de passe</h2>
    <hr>
    <form [formGroup]="forgotForm" (ngSubmit)="resetPassword(forgotForm)">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
        <div class="text-danger"
             *ngFor="let errorMessage of forgotForm.controls['email'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <div>
        <button class="btn btn-primary" id="btn-submit-forgot-user"
                type="submit">Rechercher</button>
      </div>
      <div>
        <ul>
          <li>Vous n'avez pas de compte? <a routerLink="/signup">Créer un compte.</a></li>
        </ul>
      </div>

    </form>

  </div>
</div>
