<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <hr>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Qui êtes-vous?</label><br>
        <div class="radio-inline">
            <ul class="list-inline">
              <li><input type="radio" value="t" formControlName="group">Je suis un touriste</li>
              <li><input type="radio" value="g" formControlName="group">Je suis un guide</li>
            </ul>
        </div>
        <div class="text-justify text-danger"
             *ngFor="let errorMessage of signupForm.controls['gender'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text"
               id="lastname"
               class="form-control"
               formControlName="lastname">
        <div class="text-justify text-danger"
             *ngFor="let errorMessage of signupForm.controls['lastname'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">Prenom</label>
        <input type="text"
               id="firstname"
               class="form-control"
               formControlName="firstname">
        <div class="text-justify text-danger"
             *ngFor="let errorMessage of signupForm.controls['firstname'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
        <div class="text-justify text-danger"
             *ngFor="let errorMessage of signupForm.controls['email'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <label>Sexe</label><br>
        <div class="radio-inline">
          <label><input type="radio" value="M" formControlName="gender"> Homme</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label><input type="radio" value="F" formControlName="gender"> Femme</label>
        </div>
        <div class="text-justify text-danger"
             *ngFor="let errorMessage of signupForm.controls['gender'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
        <div class="text-justify text-danger"
             *ngFor="let errorMessage of signupForm.controls['password'].getError('apiError')">
          {{ errorMessage}}
        </div>
      </div>
      <div class="form-group">
        <label for="form_password_confirmation">
          Confirmation du mot de passe
        </label>
        <input formControlName="confirmation"
               id="form_password_confirmation"
               class="form-control"
               type="password">
        <div class="text-danger"
             *ngFor="let errorMessage of signupForm.controls['confirmation'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
      <button class="btn btn-primary" id="btn-submit-save-user"
              type="submit"
              [disabled]="signupForm.invalid">Créer mon compte</button>
      Vous avez un compte? <a routerLink="/">Connectez-vous.</a>
    </form>

  </div>
</div>
